# Copy this file to env.server and fill in the values

# you only need to set the DATABASE_URL if you are NOT using `wasp start db`
# DATABASE_URL=

SENDGRID_API_KEY=
# if not excplicitly set to true, emails will be logged to console but not actually sent
SEND_EMAILS_IN_DEVELOPMENT=true